@import url("../style.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carre {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 20px;
    justify-items: center;
    margin-top: 40px;
}

.carre div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: white;
    font-size: 18px; /* Réduit de 24px à 18px pour s'adapter à la nouvelle taille */
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

/* 
pour les classe corespondent
.carre div:hover {
    background-color: #b33600;
    transform: scale(1.05);
} */

