.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 2px solid #000;
}

.titre {
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
    text-transform: uppercase;
}

.section-title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    text-decoration: underline;
}

p {
    font-size: 15px;
    line-height: 1.5;
}

.texte {
    text-align: justify;
}

.signatures {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.bloc-sign {
    width: 45%;
    text-align: center;
}

@media print {
    body {
        padding: 0;
    }
    .container {
        width: 100%;
    }
}