.table-notes {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    border: 1px solid #000;
    border-radius: 6px ;
    overflow: hidden; /* permet d'arrondir complètement */
}

/* Bordure des cellules */
.table-notes th, 
.table-notes td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

/* En-tête */
.table-notes thead th {
    background: #ffffff;
    font-weight: bold;
}

/* Ligne total */
.table-notes .total td {
    background: #fdfdfd;
}
