@import url(./style.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table {
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}

.table-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e4f1ff;
}

.table p {
    color: #000;
}

button {
    outline: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.add-new {
    padding: 10px 20px;
    color: #e4f1ff;
    background-color: #2563eb;
    border-radius: 20px;
}

input {
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid #2563eb;
    border-radius: 6px;
}

.table-section {
    width: 100%;
    table-layout: fixed;
    min-width: 600px;
    border-collapse: collapse; /* Fusionne les bordures des cellules */
}

thead th {
    position: sticky; /* Remplace position: relative pour un en-tête fixé si besoin */
    top: 0;
    background-color: #2563eb; /* Fond pour l'en-tête */
    color: #e4f1ff;
    z-index: 1; /* Assure que l'en-tête reste au-dessus du contenu */
}

th, td {
    text-align: left;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
}

td img {
    width: 24px; /* Taille des icônes pour cohérence */
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
}

::placeholder {
    font-family: 'Times New Roman', Times, serif;
}